
#palette{
  display: inline:block;
  width: 880px;

  margin: auto;

}

.colorSample{
  width: 20px;
  height: 20px;
  margin: 30px;
  border: 1px solid black;
  display: inline-block;
}
#brush1{
  background-color: chartreuse;
}
#brush2{
  background-color: red;
}
#brush3{
  background-color: cornflowerblue;
}
#brush4{
background-color: white;
}
#brush5{
background-color: yellow;
}
#brush6{
background-color: deeppink;
}
#brush7{
background-color: gold;
}

.pixelHolder{
  display: inline:block;
  width: 880px;
  margin: auto;


}

.pixel{
    width: 9px;
    height: 9px;

    border: 1px solid black;

    display: inline-block;

    float: left;
}
.clear{
  clear:both;
}
