.pixelHolder{
  display: inline:block;
  width: 880px;
  height:220px


}

.pixel{
    width: 9px;
    height: 9px;

    border: 1px solid black;

    display: inline-block;

    float: left;
}
.clear{
  clear:both;
}

.colorSample{
  width: 20px;
  height: 20px;
  margin: 30px;
  border: 1px solid black;
  display: inline-block;

  float: left;
}

#brush1{
  background-color: chartreuse;
}
#brush2{
  background-color: red;
}
#brush3{
  background-color: cornflowerblue;
}
#brush4{

}
